
*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url("img/background.svg");
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	
}

#mainContainer{
	margin-top: 0;
	margin: auto;
	height: 900px;
	width: 1100px;
	background-color: #d3ecff;
	
}

#header{
	height: 90px;
	width: 1100px;
	background-color: #99e7ff;
	
}

#header a{
	text-decoration: none;
	color: black;
}

#mainBox{
	height: 760px;
	width: 1100px;
	
}

#footer{
	height: 50px;
	width: 1100px;
	background-color: #99e7ff;
	opacity: 0.6;
}

#header a:hover{
	color: blue;
	border-bottom: 3px solid red;
}

.headerrechts{
	float: left;
	height: 90px;
	width: 550px;

}

.headerrechts ul{
	display: inline;
	float: left;
}

.headerrechts li{
	float: left;
	list-style: none;
	margin: 10px;
}

#logo{
	float: left;
	height: 90px;
	width: 550px;
	font-size: 0.9em;
}

.logo{
	height: 90px;
	width: 200px;
	float: left;

}

.textlogo{
	margin: 10px;
	float: left;
	color: black;
	font-family: Comfortaa;
}